@import "bourbon"

/*==========  Desktop First Method  ==========*/

@media only screen and (min-width : 1367px)
	/**/
	.faq
		.content
			.faq-content-page
				.faq-middle
					transform: scale(1.1)
				.faq-info
					.faq-info-item
						.faq-info-item-text
							.faq-q
								height: 100px!important
								line-height: 30px!important

	.slick-cur
		transform: scale(2.5)!important
		margin-left: 480px!important

	

@media only screen and (max-width : 1920px) and (min-width: 1367px)
	.slick-list
		top: calc(50% - 130px)!important

	.fa-long-arrow-alt-up
		&::before
			top: calc(50% + 40px - 40px)!important

	.fa-long-arrow-alt-down
		&::before
			top: calc(50% + 55px + 40px)!important

	.calc-line-1
		&:after
			width: 76vw!important
	.calc-line-2
		&:after
			width: 75vw!important
	.calc-line-3
		&:after
			width: 75vw!important


@media only screen and (max-width : 1920px) and (min-width : 1400px)
	.communication
		.content
			.communication-content-page
				.communication-middle
					transform: scale(1.1)!important



@media only screen and (max-width : 1366px)
	.slick-cur
		transform: scale(2.5)!important
		margin-left: 480px!important

	.slick-list
		top: calc(50% - 120px)!important

	.staff-info-slogan
		width: 200px!important


@media only screen and (max-width : 1250px)
	/**/
	.security
		.content
			.security-content-page
				.security-middle
					transform: scale(0.9)

	.page
		transform: scale(0.7)

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.services
		.content
			.services-content-page
				.services-bottom
					margin-bottom: 20px
				.services-middle
					margin-bottom: -20px
	.pros 
		.content 
			.pros-content-page 
				.pros-middle 
					.pros-middle-item
						transform: scale(0.7)!important
						margin: 0!important
						flex: 25%!important
						margin-top: -20px!important


	.contact
		.content
			.contact-content-page
				.contact-middle
					.contact-middle-info
						margin-top: 10vw
					.con-form
						transform: scale(0.7)!important

	.communication
		.content
			.communication-content-page
				.communication-middle
					transform: scale(0.8)!important
					margin-top: -6vw

	.security
		.content
			.security-content-page
				.security-middle
					transform: scale(0.7)

	.stage 
		form
			transform: scale(0.8)

	.stage-1, .stage-2, .stage-3
		padding: 5px 5px 0px 0px!important

						

@media only screen and (max-width : 1150px)
	.slick-list
		top: calc(50% - 90px)!important

	.fa-long-arrow-alt-up
		&::before
			top: calc(50% + 80px - 40px)!important

	.fa-long-arrow-alt-down
		&::before
			top: calc(50% + 95px + 40px)!important

	.slick-cur
		transform: scale(1.7)!important
		margin-left: 280px!important


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.services
		.content
			.services-content-page
				.services-bottom
					margin-bottom: 30px
				.services-middle
					margin-bottom: -30px

	.pros 
		.content 
			.pros-content-page 
				.pros-middle 
					.pros-middle-item
						padding: 0!important

	.communication
		.content
			.communication-content-page
				.communication-middle
					transform: scale(0.7)!important
	
	.faq
		.content
			.faq-content-page
				.faq-middle
					transform: scale(0.9)

	.page
		transform: scale(0.5)

	.page-4
		.page-4-content
			.page-4-content-links
				font-size: 1.9vw
				width: 600px
				.page-4-content-links-link
					width: 400px!important


	.slick-list
		top: calc(50% - 90px)!important
		&::after
			right: 300px!important

	.fa-long-arrow-alt-up
		&::before
			top: calc(50% + 80px - 40px)!important
			left: 55px!important

	.fa-long-arrow-alt-down
		&::before
			top: calc(50% + 95px + 40px)!important
			left: 55px!important

	.slick-cur
		transform: scale(1.5)!important
		margin-left: 200px!important

	.calc-middle
		transform: scale(0.8)

	.stage
		form
			transform: scale(0.6)

	.calc-content-page
		height: 60%!important
		margin-bottom: 100px!important

	.staff-info
		font-size: 0.79em!important

	#stage-1-form
		padding-bottom: 25px
		padding-left: 0px!important

@media only screen and (max-width : 850px)

	.security
		.content
			.security-content-page
				.security-middle
					width: 130%!important
					.security-info
						.tabcontent-security
							font-size: 2.2vw
	

@media only screen and (max-width : 830px)
	.stage-2, .stage-3
		display: none

	.calc-middle
		justify-content: space-between!important
		width: 120%!important

	.calc-line
		&::after
			width: 90vw!important

	.stage
		width: 49vw!important
		height: 100%!important
		form
			transform: scale(0.8)!important

	.calc-line-1
		&:after
			width: 90vw!important
	.calc-line-2
		&:after
			width: 90vw!important
	.calc-line-3
		&:after
			width: 90vw!important

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

	.pros
		.content
			.pros-content-page
				margin: 0px!important
				.pros-middle
					.pros-middle-item
						padding: 20px 5px!important
						p
							display: none

	.contact
		.content
			.contact-content-page
				.contact-middle
					.contact-middle-info
						padding-left: 20vw
						padding-top: 7vw!important
						padding-right: 0px!important
						font-size: 0.5375em!important
						width: 360px!important
						margin-right: -50px
					.con-form
						transform: scale(0.6)!important
						margin-right: 10vw
						margin-top: 20px!important

	.communication
		.content
			.communication-content-page
				.communication-middle
					transform: scale(0.5)!important

	.faq
		.content
			.faq-content-page
				.faq-middle
					transform: scale(0.7)

	.security
		.content
			.security-content-page
				.security-middle
					.security-info
						.tabcontent-security
							font-size: 2.5vw!important
					.security-line
						margin: 0 50px!important
					.security-links
						.tablink-security
							width: 300px!important
							.tablink-security-info
								width: 200px!important
								font-size: 2.4vw!important

	.page-1
		p
			font-size: 2.5vw

	.slick-list
		&::after
			display: none


	.slick-cur
		transform: scale(1.3)!important
		margin-left: 170px!important
		

	.item
		font-size: 10px
		.staff-info
			margin-left: 10px!important
			.staff-info-name
				&::after
					top: 20px!important

	.team-top
		text-align: right!important
		padding-right: 0px
		display: none
		h2
			&::after
				display: none

	
@media only screen and (max-width : 750px)

	.stage 
			form
				transform: scale(0.5)

	.calc
		.content
			.calc-content-page 
				h4::after
					width: 100px!important
					left: calc(50% - 50px)!important

@media only screen and (max-width : 650px)

	.page
		transform: scale(0.38)

	.services
		.content
			.services-content-page
				.services-middle
					.services-middle-item
						img
							width: 30vw!important
						.item-name
							font-size: 1.5vw!important

	.security
		.content
			.security-content-page
				.security-middle
					.security-info
						.tabcontent-security
							font-size: 2.5vw!important
					.security-line
					.security-links
						.tablink-security
							width: 270px!important
							.tablink-security-info
								font-size: 2.4vw!important

	.calc-line-1
		&:after
			width: 85vw!important
	.calc-line-2
		&:after
			width: 85vw!important
	.calc-line-3
		&:after
			width: 85vw!important

@media only screen and (max-width : 600px)

	.slick-list
		top: 60px!important
		margin-left: 0px!important

	.slick-cur
		transform: scale(1.2)!important
		margin-left: 110px!important

	.staff-info-slogan
		width: 100px!important

	.team-top
		text-align: left!important
		margin-top: calc(50% - 50px)!important
		h2
			font-size: 18px!important
			&::after
				display: none!important

	.fa-long-arrow-alt-up
		&::before
			top: calc(50% + 55px - 40px)!important
			left: 55px!important

	.fa-long-arrow-alt-down
		&::before
			top: calc(50% + 70px + 40px)!important
			left: 55px!important

	.pros
		.content
			.pros-content-page
				.pros-middle
					.pros-middle-item
						margin: 0 -10px!important

	.security
		.content
			.security-content-page
				.security-middle
					.security-info
						.tabcontent-security
							font-size: 3.2vw!important
					.security-line
					.security-links
						.tablink-security
							width: 270px!important
							.tablink-security-info
								font-size: 2.7vw!important

	.contact
		.content
			.contact-content-page
				.contact-middle
					.contact-middle-info
						padding-left: 34vw!important
						padding-top: 7vw!important
						padding-right: 0px!important
						font-size: 0.4575em!important
						width: 360px!important
						margin-right: -50px
					.con-form
						transform: scale(0.52)!important
						margin-right: 14vw!important
						margin-top: 0px!important



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

