@import "bourbon"

/*==========  Desktop First Method  ==========*/

@media only screen and (min-width : 1366px)
	/**/
	.communication
		.content
			.communication-content-page
				.communication-middle
					transform: scale(1.2)!important

	.faq
		.content
			.faq-content-page
				.faq-middle
					transform: scale(1.1)
				.faq-info
					.faq-info-item
						.faq-info-item-text
							.faq-q
								height: 100px!important
								line-height: 30px!important


@media only screen and (max-width : 1250px)
	/**/
	.security
		.content
			.security-content-page
				.security-middle
					transform: scale(0.9)

	.page
		transform: scale(0.7)

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.services
		.content
			.services-content-page
				.services-bottom
					margin-bottom: 20px
				.services-middle
					margin-bottom: -20px
	.pros 
		.content 
			.pros-content-page 
				.pros-middle 
					.pros-middle-item
						transform: scale(0.7)!important
						margin: 0!important
						flex: 25%!important
						margin-top: -20px!important


	.contact
		.content
			.contact-content-page
				.contact-middle
					.contact-middle-info
						margin-top: 10vw
					.con-form
						transform: scale(0.7)!important

	.communication
		.content
			.communication-content-page
				.communication-middle
					transform: scale(0.8)!important
					margin-top: -6vw

	.security
		.content
			.security-content-page
				.security-middle
					transform: scale(0.7)
						


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.services
		.content
			.services-content-page
				.services-bottom
					margin-bottom: 30px
				.services-middle
					margin-bottom: -30px

	.pros 
		.content 
			.pros-content-page 
				.pros-middle 
					.pros-middle-item
						padding: 0!important

	.communication
		.content
			.communication-content-page
				.communication-middle
					transform: scale(0.7)!important
	
	.faq
		.content
			.faq-content-page
				.faq-middle
					transform: scale(0.8)

	.page
		transform: scale(0.5)

	.page-4
		.page-4-content
			.page-4-content-links
				font-size: 1.9vw
				width: 600px
				.page-4-content-links-link
					width: 400px!important


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

	.pros
		.content
			.pros-content-page
				margin: 0px!important
				.pros-middle
					transform: scale(0.8)!important
					.pros-middle-item
						flex: 22%!important

	.contact
		.content
			.contact-content-page
				.contact-middle
					.contact-middle-info
						padding-left: 32vw
						padding-top: 7vw!important
						padding-right: 0px!important
						font-size: em(7px)!important
					.con-form
						transform: scale(0.6)!important
						margin-right: 20vw
						margin-top: 20px!important

	.communication
		.content
			.communication-content-page
				.communication-middle
					transform: scale(0.5)!important

	.faq
		.content
			.faq-content-page
				.faq-middle
					transform: scale(0.7)

	.security
		.content
			.security-content-page
				.security-middle
					transform: scale(0.6)
					.security-info
						.tabcontent-security
							width: 300px

	.page-1
		p
			font-size: 2.5vw
	

@media only screen and (max-width : 650px)

	.page
		transform: scale(0.38)

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

