@import "bourbon"
@import "vars.sass"
@import "app/libs/onepage-scroll-master/onepage-scroll"
@import "app/libs/slick-1.8.1/slick/slick"
@import "app/libs/owlcarousel/dist/assets/owl.carousel.min"



html::-webkit-scrollbar
	width: 0px

html
	-ms-overflow-style: none


body
	font-size: 16px
	min-width: 100vw
	min-height: 100vh
	position: relative
	line-height: 1.6
	font-family: "Open Sans", sans-serif
	font-weight: 400
	overflow-x: hidden
	color: #fff


.hidden
	display: none

a
	outline: none!important
	color: #fff
	&:hover
		color: #111
		text-decoration: none
		cursor: pointer
	&:focus, &:active
		color: #fff

.text-right
	text-align: right
.text-left
	text-align: left
.text-center
	text-align: center

//home page
.home
	width: 100%
	height: 100vh
	position: relative
	.home-bg
		background-image: url(../img/header/bg-header.png)
		background-attavhment: fixed
		&::before
			content: ''
			background: linear-gradient(to top right, #24013A, #E11CB6)
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .5
	.lang
		position: absolute
		right: 27px
		top: 65px
		z-index: 100
		a
			color: #fff
			&:hover
				background: -webkit-linear-gradient(#FF5D7B, #FE9A5D)
				-webkit-background-clip: text
				-webkit-text-fill-color: transparent

	.btns
		display: flex
		flex-direction: row
		align-items: flex-end
		position: relative
		width: 100vw
		z-index: 10
		img
			position: absolute
			top: 15px
			left: calc(50% - 80px)
		.fa-th
			font-size: 30px
			position: absolute
			left: 25px
			top: 25px
			&:hover
				color: #E11CB6
		.fa-bars
			font-size: 32px
			position: absolute
			right: 25px
			top: 25px
			&:hover
				color: #E11CB6
		.home-btns-info
			left: 25px
		.home-btns-contact
			right: 25px
		.home-btns-info, .home-btns-contact
			display: flex
			justify-content: center
			align-items: center
			width: 50px
			height: 50px
			font-size: 20px
			background-color: #fff
			background-clip: padding-box
			border: 10px solid rgba(250, 255, 255, 0.25)
			border-radius: 50%
			color: #333
			position: absolute
			bottom: calc(-100vh + 25px)
			&:hover
				animation-name: size1
				animation-duration: 1s
				animation-fill-mode: forwards
				@keyframes size1
					10% {border: 23px solid rgba(250, 255, 255, 0.25)}
					30% {background-color: #E11CB6}
					60% {border: 1px solid rgba(255, 28, 182, 0.25)}
					80% {background-image: radial-gradient(#24013A, #E11CB6)}
					100% {color: #fff; background-image: radial-gradient(#24013A, #E11CB6); border: 5px solid rgba(255, 28, 182, 0.25); background-color: #777}
			&:active, &:focus
				background-color: #E11CB6
				color: #fff
		.policy
			font-family: RobotoRegular, sans-serif
			font-size: em(12px)
			opacity: 0.6
			position: absolute
			bottom: calc(-100vh + 25px)
			left: calc(50vw - 105px)
		&:hover
			.policy
				opacity: 1!important
	.content
		height: 100%
		width: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 25px
		position: absolute
		box-sizing: border-box
		.home-content-page
			position: relative
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center

//services page
.services
	width: 100%
	height: 100vh
	position: relative
	top: 0
	.services-bg
		background-image: url(../img/services/bg-services.png)
		&::before
			content: ''
			background: linear-gradient(to right, #4DA0B0, #D39D38)
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .5
		&::after
			content: ''
			background: #000
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .5
	.lang
		position: absolute
		right: 27px
		top: 65px
		z-index: 100
		a
			color: #fff
			&:hover
				background: -webkit-linear-gradient(#FF5D7B, #FE9A5D)
				-webkit-background-clip: text
				-webkit-text-fill-color: transparent
	.btns
		display: flex
		flex-direction: row
		align-items: flex-end
		position: relative
		width: 100vw
		z-index: 10
		img
			position: absolute
			top: 15px
			left: calc(50% - 80px)
		.fa-th
			font-size: 30px
			position: absolute
			left: 25px
			top: 25px
			&:hover
				color: #D39D38
		.fa-bars
			font-size: 32px
			position: absolute
			right: 25px
			top: 25px
			&:hover
				color: #D39D38
		.services-btns-info
			left: 25px
		.services-btns-contact
			right: 25px
		.services-btns-info, .services-btns-contact
			display: flex
			justify-content: center
			align-items: center
			width: 50px
			height: 50px
			font-size: 20px
			background-color: #fff
			background-clip: padding-box
			border: 10px solid rgba(250, 255, 255, 0.25)
			border-radius: 50%
			color: #333
			position: absolute
			bottom: calc(-100vh + 25px)
			&:hover
				animation-name: size2
				animation-duration: 1s
				animation-fill-mode: forwards
				@keyframes size2
					10% {border: 23px solid rgba(250, 255, 255, 0.25)}
					30% {background-color: #D39D38}
					60% {border: 1px solid rgba(77, 160, 176, 0.25)}
					80% {background-image: radial-gradient (#D39D38, #4DA0B0)}
					100% {color: #fff; background-image: radial-gradient(#D39D38, #4DA0B0); border: 5px solid rgba(77, 160, 176, 0.25); background-color: #333}
			&:active, &:focus
				background-color: #D39D38
				color: #fff
		.policy
			font-family: RobotoRegular, sans-serif
			font-size: em(12px)
			opacity: 0.6
			position: absolute
			bottom: calc(-100vh + 25px)
			left: calc(50vw - 105px)
			&:hover
				opacity: 1!important
	.service-top
		h2
			left: calc(50% - 116px)
			&::after
				width: 160px
				left: calc(50% - 80px)
	.content
		position: absolute
		height: 100%
		width: 100%
		display: flex
		flex-direction: column
		justify-content: space-around
		align-items: center
		padding: 25px
		padding-top: 100px	
		box-sizing: border-box
		.services-content-page
			display: flex
			flex-direction: column
			justify-content: space-around
			align-items: center
			height: 100%
			margin: 0px 5vw 3vh				
			.services-middle
				display: flex
				flex-direction: row
				flex-wrap: wrap
				justify-content: space-between
				font-family: "Open Sans", sans-serif
				font-weight: 700
				margin-bottom: -30px
				.services-middle-item
					position: relative
					margin-bottom: 30px
					overflow: hidden
					img
						width: 25vw
						height: auto
					&:hover
						.item-text
							height: 100%
							transition: all 0.5s ease
							color: #fff
							display: flex
							justify-content: center
							align-items: center
					.item-name
						color: #4E1B4A
						position: absolute
						background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), #fff)
						width: 100%
						bottom: 0px
						display: flex
						justify-content: center
						align-items: center
						height: 35%
						font-size: 1vw
					.item-text
						display: flex
						justify-content: center
						align-items: center
						height: 0%
						width: 100%
						background: rgba(0, 0, 0, 0.8)
						position: absolute
						top: 0
						color: transparent
						z-index: 1
						font-size: em(10px)
			.services-bottom
				font-family: "Open Sans", sans-serif
				font-weight: 700
				font-size: em(16px)
				margin-bottom: 20px
				span
					font-weight: 400
					opacity: 0.6

//pros page
.pros
	width: 100%
	height: 100vh
	position: relative
	top: 0
	.pros-bg
		background-image: url(../img/pros/bg-pros.png)
		&::before
			content: ''
			background: linear-gradient(to right, #FCB045 0%, #FD1D1D 30%,  #AE1CE1 100%)
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .5
		&::after
			content: ''
			background: #000
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .3
	.lang
		position: absolute
		right: 27px
		top: 65px
		z-index: 100
		a
			color: #fff
			&:hover
				background: -webkit-linear-gradient(#FF5D7B, #FE9A5D)
				-webkit-background-clip: text
				-webkit-text-fill-color: transparent
	.btns
		display: flex
		flex-direction: row
		align-items: flex-end
		position: relative
		width: 100vw
		z-index: 10
		img
			position: absolute
			top: 15px
			left: calc(50% - 80px)
		.fa-th
			font-size: 30px
			position: absolute
			left: 25px
			top: 25px
			&:hover
				color: #E72842
		.fa-bars
			font-size: 32px
			position: absolute
			right: 25px
			top: 25px
			&:hover
				color: #E72842
		.pros-btns-info
			left: 25px
		.pros-btns-contact
			right: 25px
		.pros-btns-info, .pros-btns-contact
			display: flex
			justify-content: center
			align-items: center
			width: 50px
			height: 50px
			font-size: 20px
			background-color: #fff
			background-clip: padding-box
			border: 10px solid rgba(250, 255, 255, 0.25)
			border-radius: 50%
			color: #333
			position: absolute
			bottom: calc(-100vh + 25px)
			&:hover
				animation-name: size3
				animation-duration: 1s
				animation-fill-mode: forwards
				@keyframes size3
					10% {border: 23px solid rgba(250, 255, 255, 0.25)}
					30% {background-color: #FE9A5D}
					60% {border: 1px solid rgba(255, 110, 115, 0.25)}
					80% {background-image: radial-gradient(#FE9A5D, #FF5D7B)}
					100% {color: #fff; background-image: radial-gradient(#FE9A5D, #FF5D7B); border: 5px solid rgba(255, 110, 115, 0.25); background-color: #333}
			&:active, &:focus
				background-color: #E72842
				color: #fff
		.policy
			font-family: RobotoRegular, sans-serif
			font-size: em(12px)
			opacity: 0.6
			position: absolute
			bottom: calc(-100vh + 25px)
			left: calc(50vw - 105px)
			&:hover
				opacity: 1!important
	.pros-top
		h2
			left: calc(50% - 77px)
			&::after
				width: 87px
				left: calc(50% - 43px)
	.content
		position: absolute
		height: 100%
		width: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center
		padding: 25px
		padding-top: 50px
		box-sizing: border-box
		.pros-content-page
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			height: 90%
			margin: 2vw 5vw 0					
			.pros-middle
				display: flex
				flex-direction: row
				flex-wrap: wrap
				justify-content: center
				font-family: "Open Sans", sans-serif
				font-weight: 700
				.pros-middle-item
					position: relative
					flex: 20%
					display: flex
					flex-direction: column
					align-items: center
					margin: 10px 20px
					padding-bottom: 30px
					cursor: default
					.pros-middle-item-img
						width: 64px
						height: 64px
						background-size: cover
						background-repeat: no-repeat
						margin: 10px 0
					&:nth-child(1)
						.pros-middle-item-img
							background-image: url(../img/pros/pros1.png)
					&:nth-child(2)
						.pros-middle-item-img
							background-image: url(../img/pros/pros2.png)
					&:nth-child(3)
						.pros-middle-item-img
							background-image: url(../img/pros/pros3.png)
					&:nth-child(4)
						.pros-middle-item-img
							background-image: url(../img/pros/pros4.png)
					&:nth-child(5)
						.pros-middle-item-img
							background-image: url(../img/pros/pros5.png)
					&:nth-child(6)
						.pros-middle-item-img
							background-image: url(../img/pros/pros6.png)
					&:nth-child(7)
						.pros-middle-item-img
							background-image: url(../img/pros/pros7.png)
					&:nth-child(8)
						.pros-middle-item-img
							background-image: url(../img/pros/pros8.png)
					h4, p
						margin: 0
					h4
						font-family: "Open Sans", sans-serif
						font-weight: 700
						font-size: em(16px)
						margin-bottom: 5px
					p
						font-family: "Open Sans", sans-serif
						font-weight: 400
						font-size: em(12px)
						opacity: 0.6
					.more
						display: inline-block
						transition: ease 1s display
					.more-text
						display: none
						transition: ease 1s display
					&:hover
						background: #fff
						border-radius: 4px
						color: #292929
						margin: 10px 20px
						padding-bottom: 0px
						transition: ease 1s background
						.more
							display: none
							transition: ease 1s display
						.more-text
							display: inline-block
							transition: ease 1s display
						&:nth-child(1)
							.pros-middle-item-img
								background-image: url(../img/pros/pros1-hov.png)
						&:nth-child(2)
							.pros-middle-item-img
								background-image: url(../img/pros/pros2-hov.png)
						&:nth-child(3)
							.pros-middle-item-img
								background-image: url(../img/pros/pros3-hov.png)
						&:nth-child(4)
							.pros-middle-item-img
								background-image: url(../img/pros/pros4-hov.png)
						&:nth-child(5)
							.pros-middle-item-img
								background-image: url(../img/pros/pros5-hov.png)
						&:nth-child(6)
							.pros-middle-item-img
								background-image: url(../img/pros/pros6-hov.png)
						&:nth-child(7)
							.pros-middle-item-img
								background-image: url(../img/pros/pros7-hov.png)
						&:nth-child(8)
							.pros-middle-item-img
								background-image: url(../img/pros/pros8-hov.png)

//calc page
.calc
	width: 100%
	height: 100vh
	position: relative
	top: 0
	.calc-bg
		background-image: url(../img/calc/calc-bg.png)
		&::before
			content: ''
			background: linear-gradient(to right, #ED213A, #93291E)
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .5
		&::after
			content: ''
			background: #000
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .5
	.lang
		position: absolute
		right: 27px
		top: 65px
		z-index: 100
		a
			color: #fff
			&:hover
				background: -webkit-linear-gradient(#FF5D7B, #FE9A5D)
				-webkit-background-clip: text
				-webkit-text-fill-color: transparent
	.btns
		display: flex
		flex-direction: row
		align-items: flex-end
		position: relative
		width: 100vw
		z-index: 10
		img
			position: absolute
			top: 15px
			left: calc(50% - 80px)
		.fa-th
			font-size: 30px
			position: absolute
			left: 25px
			top: 25px
			&:hover
				color: #FE9A5D
		.fa-bars
			font-size: 32px
			position: absolute
			right: 25px
			top: 25px
			&:hover
				color: #FE9A5D
		.calc-btns-info
			left: 25px
		.calc-btns-contact
			right: 25px
		.calc-btns-info, .calc-btns-contact
			display: flex
			justify-content: center
			align-items: center
			width: 50px
			height: 50px
			font-size: 20px
			background-color: #fff
			background-clip: padding-box
			border: 10px solid rgba(250, 255, 255, 0.25)
			border-radius: 50%
			color: #333
			position: absolute
			bottom: calc(-100vh + 25px)
			&:hover
				animation-name: size4
				animation-duration: 1s
				animation-fill-mode: forwards
				@keyframes size4
					10% {border: 23px solid rgba(250, 255, 255, 0.25)}
					30% {background-color: #FE9A5D}
					60% {border: 1px solid rgba(255, 110, 115, 0.25)}
					80% {background-image: radial-gradient(#FE9A5D, #FF5D7B)}
					100% {color: #fff; background-image: radial-gradient(#FE9A5D, #FF5D7B); border: 5px solid rgba(255, 110, 115, 0.25); background-color: #333}
			&:active, &:focus
				background-color: #FE9A5D
				color: #fff
		.policy
			font-family: RobotoRegular, sans-serif
			font-size: em(12px)
			opacity: 0.6
			position: absolute
			bottom: calc(-100vh + 25px)
			left: calc(50vw - 105px)
			&:hover
				opacity: 1!important
	.calc-top
		h2
			left: calc(50% - 146px)
			color: #fff
			&::after
				width: 170px
				left: calc(50% - 85px)
	.content
		position: absolute
		height: 100%
		width: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 25px
		padding-top: 50px
		box-sizing: border-box
		.calc-content-page
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			height: 65%
			background-color: #fff
			border-radius: 5px	
			h4
				width: 300px
				color: #000
				position: relative
				&::after
					content: ""
					width: 	570px
					height: 2px
					background-color: #ededed
					position: absolute
					top: 50px
					left: -135px
			.calc-middle
				display: flex
				flex-direction: row
				flex-wrap: nowrap
				justify-content: center
				align-items: center
				font-family: "Open Sans", sans-serif
				font-weight: 400
				font-size: em(16px)
				color: #956D6D
				margin: auto 0px
				height: 100%
				width: 100%
				position: relative
				.calc-line
					&:after
						content: ""
						position: absolute
						height: 12px
						width: 80vw
						top: calc(50% - 5px)
						background: linear-gradient(to right, rgba(255, 127, 107, 0.5) 0%, rgba(255, 127, 107, 0.5) 30%, #9E9E9E 30%, #9E9E9E 100%)
						transition: all 1s ease
				.calc-line-1
					&:after
						background: linear-gradient(to right, rgba(255, 127, 107, 0.5) 0%, rgba(255, 127, 107, 0.5) 50%, #9E9E9E 50%, #9E9E9E 100%)
				.calc-line-2
					&:after
						background: linear-gradient(to right, rgba(255, 127, 107, 0.5) 0%, rgba(255, 127, 107, 0.5) 75%, #9E9E9E 75%, #9E9E9E 100%)
						width: 78vw
				.calc-line-3
					&:after
						background: linear-gradient(to right, rgba(255, 127, 107, 0.5) 0%, rgba(255, 127, 107, 0.5) 100%, #9E9E9E 100%, #9E9E9E 100%)
						width: 78vw
				.calc-middle-btn-b
					width: 54px
					height: 54px
					border: 15px solid #C4C4C4
					background-color: #4D4D4D
					border-radius: 50%
					margin: 0 1vw
					z-index: 2
				.calc-middle-btn
					width: 54px
					position: relative
					height: 54px
					background-clip: padding-box
					border-radius: 50%
					background-image: linear-gradient( to bottom, #FE9A5D, #FF5D7B)
					border: 15px solid rgba(255, 110, 115, 0.25)
					background-color: #999
					margin: 0 1vw
					z-index: 2
				.stage-2, .stage-3
					height: 30%
					width: 21vw 
					background: #ededed
					border-radius: 8px
					margin: 0 2vw
					z-index: 2
					p
						font-weight: 700
						margin: 0
						color: #9E9E9E
					form
						display: none


#stage-2-form
	align-items: center
#stage-1-form
	padding-bottom: 0px
	padding-left: 20px
#stage-3-form
	padding-left: 60px
	

.stage
	height: 30%
	width: 21vw 
	background: #fff
	border-radius: 8px
	box-shadow: 1px 1px 12px #FCB045
	margin: 0 1vw
	padding: 5px 5px 0px 0px
	z-index: 2
	p
		font-weight: 700
		background: -webkit-linear-gradient(#FF5D7B, #FE9A5D)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		margin: 0
	form
		display: flex
		flex-direction: column
		flex: 30%
		height: 85%
		justify-content: space-around
		.container-radio-calc
			&:hover
				.checkmark
					background-image: linear-gradient( to bottom, #FF5D7B, #FE9A5D)
					border: none
			display: block
			position: relative
			padding-left: 40px
			text-align: left
			margin-bottom: 12px
			cursor: pointer
			-webkit-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			user-select: none
			input
				&:checked
					~ .checkmark
						background-image: linear-gradient( to bottom, #FF5D7B, #FE9A5D)
						background-clip: padding-box
						border: 5px solid rgba(255, 110, 115, 0.25)
						background-color: rgba(255, 110, 115, 0.25)
						box-shadow: inset 0 0 3px #C5C5C5
						transition: all ease 0.5s
				position: absolute;
				opacity: 0;
				cursor: pointer;
			.checkmark
				position: absolute;
				top: 0;
				left: 0;
				height: 30px;
				width: 30px;
				background-color: #fff
				border-radius: 50%
				border: 2px solid rgba(255, 184, 0, 0.3)
				transition: all ease 1s

	select
		font-size: 20px
		margin-bottom: 10px!important
		option
			font-size: 10px



//faq page
.faq
	width: 100%
	height: 100vh
	position: relative
	top: 0
	.faq-bg
		background-image: url(../img/faq/faq-bg.png)
		&::before
			content: ''
			background: linear-gradient(to right, #6BE585, #E72842)
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .5
		&::after
			content: ''
			background: #000
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .5
	.lang
		position: absolute
		right: 27px
		top: 65px
		z-index: 100
		a
			color: #fff
			&:hover
				background: -webkit-linear-gradient(#FF5D7B, #FE9A5D)
				-webkit-background-clip: text
				-webkit-text-fill-color: transparent
	.btns
		display: flex
		flex-direction: row
		align-items: flex-end
		position: relative
		width: 100vw
		z-index: 10
		img
			position: absolute
			top: 15px
			left: calc(50% - 80px)
		.fa-th
			font-size: 30px
			position: absolute
			left: 25px
			top: 25px
			&:hover
				color: #E72842
		.fa-bars
			font-size: 32px
			position: absolute
			right: 25px
			top: 25px
			&:hover
				color: #E72842
		.faq-btns-info
			left: 25px
		.faq-btns-contact
			right: 25px
		.faq-btns-info, .faq-btns-contact
			display: flex
			justify-content: center
			align-items: center
			width: 50px
			height: 50px
			font-size: 20px
			background-color: #fff
			background-clip: padding-box
			border: 10px solid rgba(250, 255, 255, 0.25)
			border-radius: 50%
			color: #333
			position: absolute
			bottom: calc(-100vh + 25px)
			&:hover
				animation-name: size5
				animation-duration: 1s
				animation-fill-mode: forwards
				@keyframes size5
					10% {border: 23px solid rgba(250, 255, 255, 0.25)}
					30% {background-color: #FE9A5D}
					60% {border: 1px solid rgba(231, 40, 66, 0.25)}
					80% {background-image: radial-gradient(#E72842, #B97364)}
					100% {color: #fff; background-image: radial-gradient(#E72842, #B97364); border: 5px solid rgba(231, 40, 66, 0.25); background-color: #333}
			&:active, &:focus
				background-color: #E72842
				color: #fff
		.policy
			font-family: RobotoRegular, sans-serif
			font-size: em(12px)
			opacity: 0.6
			position: absolute
			bottom: calc(-100vh + 25px)
			left: calc(50vw - 105px)
			&:hover
				opacity: 1!important
	.faq-top
		h2
			left: calc(50% - 24px)
			&::after
				width: 30px
				left: calc(50% - 15px)
	.content
		position: absolute
		height: 100%
		width: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 25px
		padding-top: 50px
		box-sizing: border-box
		.faq-content-page
			display: flex
			flex-direction: column
			justify-content: space-around
			align-items: center
			height: 100%
			margin: 0 5vw					
			.faq-middle
				display: flex
				flex-direction: row
				flex-wrap: nowrap
				justify-content: center
				font-family: "Open Sans", sans-serif
				font-weight: 400
				font-size: 2.3vw
				margin-top: 50px
				width: 100%
				.faq-info
					display: flex
					flex-direction: column
					justify-content: space-around
					align-items: center
					flex: 40%
					color: #000
					.faq-info-item
						display: flex
						flex-direction: row
						width: 100%
						position: relative
						cursor: pointer
						&:hover
							.faq-info-item-text
								.faq-q
									background-color: #dedede
							.faq-info-item-img
								background-color: #dedede
								transition: all 0.3s ease
						.faq-info-item-img
							width: 70px
							height: 70px
							background-color: #fff
							border-radius: 50%
							position: absolute
							box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25)
							background-size: 40px 40px
							background-position: center
							background-repeat: no-repeat
						&:nth-child(3)
							.faq-info-item-text
								.faq-a
									top: -25.5vh
						.faq-info-item-text
							display: flex
							flex-direction: column
							position: relative
							font-family: "Open Sans", sans-serif
							font-weight: 400
							font-size: 0.6em
							text-align: left
							line-height: 22px
							width: 30vw
							margin: 0 7px
							box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25)
							.faq-q
								background-color: #fff
								display: flex
								align-items: center
								height: 70px
								padding-left: 20px
								position: relative
								svg
									&:first-child
										color: #838383
										font-size: 9px
										position: absolute
										right: 10px
										display: block
										bottom: 5px
									&:last-child
										color: #ff766f
										font-size: 9px
										position: absolute
										right: 10px
										bottom: 5px
										display: none
							.faq-a
								position: absolute
								display: none
								background-color: #D8D8D8
								align-items: center
								padding: 10px 20px
								top: 80px
								z-index: 2
								font-size: em(13px)

				.faq-info-1
					.faq-info-item-img
						top: -35px
						left: -70px
					.faq-info-item-text
						.faq-q
							border-radius: 0 10px 10px 10px
						.faq-a
							border-radius: 10px 10px 0px 10px
				.faq-info-2
					.faq-info-item-img
						top: -35px
						right: -70px
					.faq-info-item-text
						.faq-q
							border-radius: 10px 0px 10px 10px
						.faq-a
							border-radius: 10px 10px 10px 0px
				.faq-line
					position: relative
					display: flex
					flex-direction: column
					justify-content: space-around
					align-items: center
					height: 60vh
					width: 4px
					margin: 0 27px
					background-color: #fff
					position: relative
					.faq-line-el
						position: absolute
						width: 30px
						height: 30px
						background: linear-gradient(to bottom left, #FF9E5C, #FF5D7B)
						border-radius: 50%
					.faq-line-el-s
						position: absolute
						width: 20px
						height: 20px
						background: linear-gradient(to bottom, #FF9E5C, #FF5D7B)
						border-radius: 50%
					.el1
						top: 0
					.el2
						top: 14%
					.el3
					.el4
						top: 81%
					.el5
						bottom: 0



//team page
.team
	width: 100%
	height: 100vh
	position: relative
	top: 0
	.team-bg
		background-image: url(../img/team/team-bg.png)
		&::before
			content: ''
			background: linear-gradient(to right, #544A7D, #FFD452)
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .6
		&::after
			content: ''
			background: #000
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .6
	.lang
		position: absolute
		right: 27px
		top: 65px
		z-index: 100
		a
			color: #fff
			&:hover
				background: -webkit-linear-gradient(#FF5D7B, #FE9A5D)
				-webkit-background-clip: text
				-webkit-text-fill-color: transparent
	.btns
		display: flex
		flex-direction: row
		align-items: flex-end
		position: relative
		width: 100vw
		z-index: 10
		img
			position: absolute
			top: 15px
			left: calc(50% - 80px)
		.fa-th
			font-size: 30px
			position: absolute
			left: 25px
			top: 25px
			&:hover
				color: #544A7D
		.fa-bars
			font-size: 32px
			position: absolute
			right: 25px
			top: 25px
			&:hover
				color: #544A7D
		.team-btns-info
			left: 25px
		.team-btns-contact
			right: 25px
		.team-btns-info, .team-btns-contact
			display: flex
			justify-content: center
			align-items: center
			width: 50px
			height: 50px
			font-size: 20px
			background-color: #fff
			background-clip: padding-box
			border: 10px solid rgba(250, 255, 255, 0.25)
			border-radius: 50%
			color: #333
			position: absolute
			bottom: calc(-100vh + 25px)
			&:hover
				animation-name: size10
				animation-duration: 1s
				animation-fill-mode: forwards
				@keyframes size10
					10% {border: 23px solid rgba(250, 255, 255, 0.25)}
					30% {background-color: #544A7D}
					60% {border: 1px solid rgba(255, 212, 82, 0.25)}
					80% {background-image: radial-gradient(#544A7D, #FFD452)}
					100% {color: #fff; background-image: radial-gradient(#544A7D, #FFD452); border: 5px solid rgba(255, 212, 82, 0.25); background-color: #333}
			&:active, &:focus
				background-color: #544A7D
				color: #fff
		.policy
			font-family: RobotoRegular, sans-serif
			font-size: em(12px)
			opacity: 0.6
			position: absolute
			bottom: calc(-100vh + 25px)
			left: calc(50vw - 105px)
			&:hover
				opacity: 1!important
	.team-top
		h2
			left: calc(50% - 93px)
			&::after
				width: 104px
				left: calc(50% - 52px)
	.content
		position: absolute
		height: 100%
		width: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 25px
		padding-top: 50px
		box-sizing: border-box
		.team-content-page
			display: flex
			flex-direction: column
			justify-content: space-around
			align-items: center
			height: 100%
			margin: 0 5vw
			.slick
				position: absolute
				font-family: "Open Sans", sans-serif
				font-weight: 700
				height: 55vh
				left: 0px
				padding-left: 100px
				top: 20%
				z-index: 10
				.itm
					display: flex
					flex-direrction: row
					margin: 10px 0
					opacity: 0.6
					text-align: left
					img
						border-radius: 50%
						background: #fff
						background-color: #ad9497
						box-shadow: 4px 0px 8px (0, 0, 0, 0.25)
						margin: 5px
						height: 94px
						width: 94px
					.staff-info
						font-family: RobotoRegular, sans-serif
						font-weight: 400
						font-size: em(14px)
						display: flex
						flex-direction: column
						align-items: flex-start
						justify-content: center
						margin-left: 25px
						width: 200px
						.staff-info-position
							opacity: 0.6
						.staff-info-name
							font-weight: 700
							font-size: em(18px)
							box-shadow: 4px 0px 8px (0, 0, 0, 0.25)
							position: relative
							&::after
								content: ""
								position: absolute
								height: 1px
								width: 40px
								top: 28px
								left: 0
								background-color: #fff
						.staff-info-slogan
							margin-top: 8px
						
.slick-slide
	opacity: 0.5

.slick-cur
	width: 300px!important
	margin: 30px 0
	transition: all 0.5s ease
	opacity: 1!important

.bor-team
	border: 3px solid #fff
	height: 110px
	width: 110px

.slick-list
	height: 380px!important
	left: 0px
	top: calc(50% - 190px)
	position: absolute
	&::before
		content: ""
		height: 2px
		width: 164px
		position: absolute
		top: 50%
		left: 0
		background-color: #fff
		overflow: visible
	&::after
		content: ""
		height: 2px
		width: 800px
		position: absolute
		top: 50%
		right: 0
		background-color: #fff
		display: none

.arrow-up
	position: absolute
	top: calc(50% - 70px)
	left: 55px
	z-index: 10
	font-size: 30px
	margin-left: 100px
	cursor: pointer

.arrow-down
	position: absolute
	top: calc(50% + 20px)
	left: 55px
	z-index: 10
	font-size: 30px
	margin-left: 100px
	cursor: pointer




//communication page
.communication
	width: 100%
	height: 100vh
	position: relative
	top: 0
	.communication-bg
		background-image: url(../img/communication/com-bg.png)
		&::before
			content: ''
			background: linear-gradient(to right, #FF4B2B, #FF416C)
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .5
		&::after
			content: ''
			background: #000
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .5
	.lang
		position: absolute
		right: 27px
		top: 65px
		z-index: 100
		a
			color: #fff
			&:hover
				background: -webkit-linear-gradient(#FF5D7B, #FE9A5D)
				-webkit-background-clip: text
				-webkit-text-fill-color: transparent
	.btns
		display: flex
		flex-direction: row
		align-items: flex-end
		position: relative
		width: 100vw
		z-index: 10
		img
			position: absolute
			top: 15px
			left: calc(50% - 80px)
		.fa-th
			font-size: 30px
			position: absolute
			left: 25px
			top: 25px
			&:hover
				color: #FE9A5D
		.fa-bars
			font-size: 32px
			position: absolute
			right: 25px
			top: 25px
			&:hover
				color: #FE9A5D
		.communication-btns-info
			left: 25px
		.communication-btns-contact
			right: 25px
		.communication-btns-info, .communication-btns-contact
			display: flex
			justify-content: center
			align-items: center
			width: 50px
			height: 50px
			font-size: 20px
			background-color: #fff
			background-clip: padding-box
			border: 10px solid rgba(250, 255, 255, 0.25)
			border-radius: 50%
			color: #333
			position: absolute
			bottom: calc(-100vh + 25px)
			&:hover
				animation-name: size8
				animation-duration: 1s
				animation-fill-mode: forwards
				@keyframes size8
					10% {border: 23px solid rgba(250, 255, 255, 0.25)}
					30% {background-color: #FE9A5D}
					60% {border: 1px solid rgba(255, 110, 115, 0.25)}
					80% {background-image: radial-gradient(#FE9A5D, #FF5D7B)}
					100% {color: #fff; background-image: radial-gradient(#FE9A5D, #FF5D7B); border: 5px solid rgba(255, 110, 115, 0.25); background-color: #333}
			&:active, &:focus
				background-color: #FE9A5D
				color: #fff
		.policy
			font-family: RobotoRegular, sans-serif
			font-size: em(12px)
			opacity: 0.6
			position: absolute
			bottom: calc(-100vh + 25px)
			left: calc(50vw - 105px)
			&:hover
				opacity: 1!important
	.communication-top
		h2
			left: calc(50% - 83px)
			&::after
				width: 106px
				left: calc(50% - 50px)
	.content
		position: absolute
		height: 100%
		width: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 25px
		padding-top: 50px
		box-sizing: border-box
		overflow: hidden
		.communication-content-page
			display: flex
			flex-direction: column
			justify-content: space-around
			align-items: center
			height: 100%
			margin: 0 5vw	
			.com-btn-s
				margin: 50px auto 0
				width: 270px
				height: 55px
				justify-content: center
				align-items: center
				background: linear-gradient(to bottom, #FE9A5D, #FF5D7B)
				box-shadow: 2px 2px 10px #FF7E6B
				border-radius: 40px
				border: none
				display: none
				&:hover
					box-shadow: inset 0 0 10px #777
					text-shadow: 2px 2px 10px #555
					transition: box-shadow ease 5s
				&:active, &:focus
					outline: none!important				
			.communication-middle
				display: flex
				flex-direction: row
				flex-wrap: nowrap
				justify-content: center
				align-items: space-between
				font-family: "Open Sans", sans-serif
				font-weight: 700
				.com-form
					margin-right: 15vw
					margin-left: -5vw
					margin-top: 20px
					background-color: #fff
					width: 400px
					height: 388px
					padding: 45px
					display: flex
					flex-direction: row
					box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25)
					border-radius: 4px
					left: calc(25% - 200px)
					box-sizing: border-box;
					form
						width: 100%
						h4
							color: #743535
							font-family: "Open Sans", sans-serif
							font-weight: 700
							font-size: em(18px)
							margin: 0 0 30px 0
							text-align: center
						input
							border: none
							border-bottom: 1px solid #D1D1D1
							color: #000
							background-color: none
							width: 100%
							padding: 20px 0 0px 10px
							&:active, &:focus
								outline: none!important
								border-bottom: 1px solid #743535
								transition: border-bottom ease 1s
						textarea
							border: none
							border-bottom: 1px solid #D1D1D1
							max-width: 100%
							min-width: 100%
							max-height: 80px
							min-height: 80px
							padding: 10px 0px 5px 10px
							outline: none
						button
							margin: 25px auto 0
							width: 240px
							height: 35px
							display: flex
							justify-content: center
							align-items: center
							background: linear-gradient(to bottom, #FE9A5D, #FF5D7B)
							box-shadow: 2px 2px 10px #FF7E6B
							border-radius: 40px
							border: none
							&:hover
								box-shadow: inset 0 0 10px #777
								text-shadow: 2px 2px 10px #555
								transition: box-shadow ease 5s
							&:active, &:focus
								outline: none!important
				.communication-middle-staff
					display: flex
					flex-direction: column
					justify-content: space-between
					.staff
						display: flex
						flex-direction: row
						margin-left: -5vw
						margin: 15px 0px
						&:hover
							img
								border: 10px solid #ad9497
								transition: all ease 0.1s
								margin: 0px
							.staff-info
								transform: scale(1.4)
								transition: all ease 0.3s
								.staff-social-itm
									&:hover
										color: #ff766f
						img
							border-radius: 50%
							background: #fff
							border: 5px solid #ad9497
							background-color: #ad9497
							box-shadow: 4px 0px 8px (0, 0, 0, 0.25)
							margin: 5px
						.staff-info
							font-family: RobotoRegular, sans-serif
							font-weight: 400
							font-size: em(14px)
							display: flex
							flex-direction: column
							align-items: flex-start
							justify-content: center
							margin-left: 45px
							.staff-info-position
								opacity: 0.6
							.staff-info-name
								font-weight: 700
								font-size: em(18px)
								box-shadow: 4px 0px 8px (0, 0, 0, 0.25)
							.staff-info-email
								opacity: 0.6
							.staff-info-social
								display: flex
								flex-direction: row
								flex-wrap: no-wrap
								.staff-social-itm
									font-size: 25px
									margin-right: 5px


//contact page
.contact
	width: 100%
	height: 100vh
	position: relative
	top: 0
	.contact-bg
		background-image: url(../img/contacts/contacts-bg.png)
		&::before
			content: ''
			background: linear-gradient(to right, #E11CB6, #24013A)
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .5
		&::after
			content: ''
			background: #000
			top: 0
			left: 0
			width: 100%
			height: 100%
			position: absolute
			opacity: .5
	.lang
		position: absolute
		right: 27px
		top: 65px
		z-index: 100
		a
			color: #fff
			&:hover
				background: -webkit-linear-gradient(#FF5D7B, #FE9A5D)
				-webkit-background-clip: text
				-webkit-text-fill-color: transparent
	.btns
		display: flex
		flex-direction: row
		align-items: flex-end
		position: relative
		width: 100vw
		z-index: 10
		img
			position: absolute
			top: 15px
			left: calc(50% - 80px)
		.fa-th
			font-size: 30px
			position: absolute
			left: 25px
			top: 25px
			&:hover
				color: #E11CB6
		.fa-bars
			font-size: 32px
			position: absolute
			right: 25px
			top: 25px
			&:hover
				color: #E11CB6
		.contact-btns-info
			left: 25px
		.contact-btns-contact
			right: 25px
		.contact-btns-info, .contact-btns-contact
			display: flex
			justify-content: center
			align-items: center
			width: 50px
			height: 50px
			font-size: 20px
			background-color: #fff
			background-clip: padding-box
			border: 10px solid rgba(250, 255, 255, 0.25)
			border-radius: 50%
			color: #333
			position: absolute
			bottom: calc(-100vh + 25px)
			&:hover
				animation-name: size1
				animation-duration: 1s
				animation-fill-mode: forwards
			&:active, &:focus
				background-color: #E11CB6
				color: #fff
		.policy
			font-family: RobotoRegular, sans-serif
			font-size: em(12px)
			opacity: 0.6
			position: absolute
			bottom: calc(-100vh + 25px)
			left: calc(50vw - 105px)
			&:hover
				opacity: 1!important
	.contact-top
		h2
			left: calc(50% - 51px)
			&::after
				width: 73px
				left: calc(50% - 36px)
	.content
		position: absolute
		height: 100%
		width: 100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 25px
		padding-top: 50px
		box-sizing: border-box
		.contact-content-page
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			height: 100%
			margin: 0 5vw					
			.contact-middle
				display: flex
				flex-direction: row
				flex-wrap: nowrap
				justify-content: center
				font-family: "Open Sans", sans-serif
				font-weight: 700
				.contact-middle-info
					width: 60%
					font-family: "Open Sans", sans-serif
					font-weight: 400
					font-size: 1vw
					padding-right: 45px
					>a
						opacity: 0.6
						margin-right: 20px
						font-size: 20px
						&:hover
							color: #fff
							opacity: 1
					p
						opacity: 0.6
						span
							font-weight: 700
							opacity: 1
					.con-social
						.con-social-itm
							font-size: 30px
							&:hover
								color: #ff766f
					.con-btn-s
						margin: 50px auto 0
						width: 270px
						height: 55px
						justify-content: center
						align-items: center
						background: linear-gradient(to bottom, #FE9A5D, #FF5D7B)
						box-shadow: 2px 2px 10px #FF7E6B
						border-radius: 40px
						border: none
						display: none
						&:hover
							box-shadow: inset 0 0 10px #777
							text-shadow: 2px 2px 10px #555
							transition: box-shadow ease 5s
						&:active, &:focus
							outline: none!important

				.con-form
					background-color: #fff
					width: 270px
    				height: 270px
					padding: 45px
					display: flex
					flex-direction: row
					box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25)
					border-radius: 4px
					h4
						color: #743535
						font-family: "Open Sans", sans-serif
						font-weight: 700
						font-size: em(18px)
						margin: 0 0 30px 0
						text-align: center
					input
						border: none
						border-bottom: 1px solid #D1D1D1
						color: #D1D1D1
						background-color: none
						width: 100%
						padding: 20px 0 0px 10px
						&:active, &:focus
							outline: none!important
							border-bottom: 1px solid #743535
							transition: border-bottom ease 1s
					button
						margin: 25px auto 0
						width: 240px
						height: 35px
						display: flex
						justify-content: center
						align-items: center
						background: linear-gradient(to bottom, #FE9A5D, #FF5D7B)
						box-shadow: 2px 2px 10px #FF7E6B
						border-radius: 40px
						border: none
						&:hover
							box-shadow: inset 0 0 10px #777
							text-shadow: 2px 2px 10px #555
							transition: box-shadow ease 5s
						&:active, &:focus
							outline: none!important


				


//for all
.bg
	position: absolute
	background-size: cover
	background-attachmennt: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0

.top
	h2
		font-family: "Open Sans", sans-serif
		font-weight: 700
		margin: 0px
		font-size: em(24px)
		padding-top: 70px
		position: absolute
		&::after
			content: ""
			height: 2px
			position: absolute
			background-color: #fff
			top: 110px

.content-1
	animation-name: concon1
	animation-duration: 1s
	animation-fill-mode: backwards
	@keyframes concon1
		0% {margin-left: -2000px;}
		100% {margin-left: 0px;}
.content-2
	animation-name: concon2
	animation-duration: 1s
	animation-fill-mode: backwards
	@keyframes concon2
		from {margin-left: 2000px;}
		to {margin-left: 0px;}
.content-3
	animation-name: concon3
	animation-duration: 1s
	animation-fill-mode: backwards
	@keyframes concon3
		0% {transform: scale(0);}
		100% {transform: scale(1);}

.content-1-b
	animation-name: concon1-b
	animation-duration: 0.3s
	animation-fill-mode: forwards
	@keyframes concon1-b
		0% {margin-left: 0px;}
		100% {margin-left: 2000px;}
.content-2-b
	animation-name: concon2-b
	animation-duration: 0.3s
	animation-fill-mode: forwards
	@keyframes concon2-b
		from {margin-left: 0px;}
		to {margin-left: -2000px;}
.content-3-b
	animation-name: concon3-b
	animation-duration: 0.3s
	animation-fill-mode: forwards
	@keyframes concon3-b
		0% {transform: scale(1);}
		100% {transform: scale(0);}


.page
	width: 1230px
	height: 480px
	position: fixed
	top: calc(50% - 260px)
	left: calc(50% - 615px)
	display: flex
	flex-direction: row
	box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25)
	border-radius: 4px
	display: none
.page-1
	padding: 5vw 50px 0
	margin-bottom: 70px
	position: relative
	p
		font-size: em(16px)
		opacity: 0.6
		&:hover
			opacity: 1
	h2
		font-size: em(24px)
		font-family: "Open Sans", sans-serif
		font-weight: 700
.page-2
	background-color: rgba(0, 0, 0, .75)
	padding-top: 2.5%
	z-index: 100
	.page-2-content
		display: flex
		flex-direction: row
		justify-content: space-around
		flex-wrap: wrap
		.page-2-content-item
			display: flex
			flex-direction: column
			margin: 8px
			padding: 8px
			font-size: 16px
			font-family: "Open Sans", sans-serif
			font-weight: 700
			&:hover, &:focus, &:active
				border: 2px solid transparent
				-moz-border-image: -moz-linear-gradient(top, #FE9A5D 0%, #FF5D7B 100%)
				-webkit-border-image: -webkit-linear-gradient(top, #FE9A5D 0%, #FF5D7B 100%)
				border-image: linear-gradient(to bottom, #FE9A5D 0%, #FF5D7B 100%)
				border-image-slice: 1
				margin: 6px
				padding: 8px
				span
					background: -webkit-linear-gradient(#FF5D7B, #FE9A5D)
					-webkit-background-clip: text
					-webkit-text-fill-color: transparent
			img
				width: 270px
				height: 135px
.page-3
	position: fixed
	background-color: #fff
	z-index: 100
	width: 600px!important
	height: 350px!important
	left: calc(50% - 300px)
	top: calc(50% - 175px)
	display: flex
	flex-direction: row
	box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25)
	border-radius: 4px
	display: none
	ul
		list-style: none
		text-transform: uppercase
		line-height: 50px
		font-size: em(24px)
		font-family: "Open Sans", sans-serif
		font-weight: 700
		margin: 0
		padding: 0
		height: 65%
		margin-top: 8.75%
		li
			margin: 0
			padding: 0
			a
				color: #959090
				&::before
					content: ""
					margin-left: -80px
				&::after
					content: ""
				&:hover
					background: -webkit-linear-gradient(#FE9A5D, #FF5D7B)
					-webkit-background-clip: text
					-webkit-text-fill-color: transparent
					&::before
						content: ""
						height: 3px
						width: 80px
						background-color: #FF796E
						opacity: 0.8
						position: absolute
						margin-top: 24px
						margin-left: -100px
						transition: margin-left ease 0.8s
					&::after
						content: ""
						height: 3px
						width: 80px
						background-color: #FF796E
						opacity: 0.8
						position: absolute
						margin-top: 24px
						margin-left: 20px
						transition: margin-left ease 0.8s
.page-4
	background: linear-gradient(to right, #FDC830, #F37335)
	font-family: "Open Sans", sans-serif
	font-weight: 600
	z-index: 100
	.page-4-top
		margin: 10px 0 0px
		animation-name: toleft
		animation-duration: 1.7s
		@keyframes toleft
			0% {margin-right: 1000px; transform: scaleX(-1)}
			100% {margin-right: 0px}
		a
			border-bottom: 1px solid #F3F3F3
			padding: 0px 15px 10px 5px
			font-size: em(18px)
			font-family: "Open Sans", sans-serif
			font-weight: 700
			.fas
				font-size: 15px
				margin-left: 15px
	.page-4-content
		position: relative
		display: flex
		flex-direction: row
		.page-4-content-links
			display: flex
			flex-direction: column
			height: 100%
			align-items: center
			justify-content: space-between
			border-right: 1px solid #F3F3F3
			.page-4-content-links-link
				background: none
				cursor: pointer
				border: 2px solid #fff
				border-radius: 4px
				color: #fff
				text-align: left
				width: 27vw
				padding: 10px 0px 10px 20px
				margin: 0 50px 10px 60px
				transition: background-color 0.5s ease
				transition: color 0.7s ease
				&:active, &:focus
					outline: none!important
				&:last-child
					margin-bottom: 0px
				h4
					font-family: "Open Sans", sans-serif
					font-weight: 700
					font-size: em(18px)
					text-transform: uppercase
					margin: 0px
				p
					font-family: "Open Sans", sans-serif
					font-weight: 400
					font-size: em(12px)
					margin: 0px
					span
						font-size: em(16px)
						font-weight: 700
				&:hover, &:focus, &:active
					color: #421212
					box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25)
					background-color: #fff
					cursor: pointer
			.p4-active
				color: #421212
				box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25)
				background-color: #fff
		.page-4-content-info
			display: flex
			flex-direction: column
			justify-content: space-between
			margin: 0 0 0 40px
			height: 100%
			.page-4-content-info-link
				display: none
				font-size: em(16px)
				margin-right: 22vw
				margin-top: 2vw
				animation-name: flip
				animation-duration: 1.8s
				@keyframes flip
					0% {transform: scaleX(-1)}
					100% {margin-right: 22vw}
			a
				font-size: em(14px)
				text-decoration: underline



.page-5
	background-color: #fff
	width: 400px
	height: 300px
	padding: 50px
	margin-top: 20px
	left: calc(50% - 250px)
	z-index: 100
	position: fixed
	top: calc(50% - 150px)
	display: flex
	flex-direction: row
	box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25)
	border-radius: 4px
	display: none
	h4
		color: #743535
		font-family: "Open Sans", sans-serif
		font-weight: 700
		margin: 0 0 30px 0
		text-align: center
	input
		border: none
		border-bottom: 1px solid #D1D1D1
		color: #D1D1D1
		background-color: none
		width: 100%
		padding: 20px 0 0px 10px
		&:active, &:focus
			outline: none!important
			border-bottom: 1px solid #743535
			transition: border-bottom ease 1s
	.page-5-btn
		margin: 50px auto 0
		width: 270px
		height: 55px
		display: flex
		justify-content: center
		align-items: center
		background: linear-gradient(to bottom, #FE9A5D, #FF5D7B)
		box-shadow: 2px 2px 10px #FF7E6B
		border-radius: 40px
		border: none
		&:hover
			box-shadow: inset 0 0 10px #777
			text-shadow: 2px 2px 10px #555
			transition: box-shadow ease 5s
		&:active, &:focus
			outline: none!important

#page-calc
	display: none

.page-calc
	background-color: #fff
	width: 420px
	height: 400px
	padding: 45px
	margin-top: 20px
	left: calc(50% - 210px)
	z-index: 100
	position: fixed
	top: calc(50% - 260px)
	flex-direction: row
	box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25)
	border-radius: 4px
	h4
		color: #743535
		font-family: "Open Sans", sans-serif
		font-weight: 700
		margin: 0 0 30px 0
		text-align: center
	input
		border: none
		border-bottom: 1px solid #D1D1D1
		color: #D1D1D1
		background-color: none
		width: 100%
		padding: 20px 0 0px 10px
		&:active, &:focus
			outline: none!important
			border-bottom: 1px solid #743535
			transition: border-bottom ease 1s
	.page-calc-btn
		margin: 50px auto 0
		width: 270px
		height: 55px
		display: flex
		justify-content: center
		align-items: center
		background: linear-gradient(to bottom, #FE9A5D, #FF5D7B)
		box-shadow: 2px 2px 10px #FF7E6B
		border-radius: 40px
		border: none
		&:hover
			box-shadow: inset 0 0 10px #777
			text-shadow: 2px 2px 10px #555
			transition: box-shadow ease 5s
		&:active, &:focus
			outline: none!important

.owl-carousel
	display: none

.slider
	position: absolute
	top: 10%
	left: 0
	width: 100%
	height: 90%
	overflow: hidden;
	display: none
	.slide-wrap
		width: 100%
		float: left
		&.active
			h2
				opacity: 1
				left: 0
			p
				opacity: 1
				left: 0
	.owl-dots
		display: none
		text-align: center
		width: 100%
		position: absolute
		bottom: 50px
		.owl-dot
			width: 14px
			height: 14px
			background-color: #777
			border: none
			border-radius: 50%
			margin: 0 3px
			cursor: pointer
			transition: background-color 0.25s ease
			&.active
				background-color: #ff766f
	.slide
		padding-bottom: 135px
		color: #fff
		position: relative
		display: flex
		justify-content: center
		align-items: center
		h2
			font-family: RobotoCondensedLight, sans-serif
			font-size: em(42px)
			margin-top: 0
			line-height: em(19px)
			margin-bottom: 20px
			position: relative
			opacity: 0
			left: 100px
			transition: all 1s ease
	
		&-content
			position: relative
			z-index: 1
			margin-top: 32vh
			display: flex
			justify-content: center
			align-items: center


.slider-1
	position: absolute
	top: 10%
	left: 0
	width: 100%
	height: 90%
	overflow: hidden;
	display: flex
	justify-content: center
	align-items: center
	.slide-wrap
		width: 100%
		float: left
	.owl-dots
		display: none
		text-align: center
		width: 100%
		position: absolute
		bottom: 130px
		.owl-dot
			width: 14px
			height: 14px
			background-color: #777
			border: none
			border-radius: 50%
			margin: 0 3px
			cursor: pointer
			transition: background-color 0.25s ease
			&.active
				background-color: #ff766f
	.slide-1
		color: #fff
		position: relative
		display: flex
		justify-content: center
		align-items: center
		.slide-content
			position: relative
			z-index: 1
			margin-top: 15vh
			display: flex
			justify-content: center
			align-items: center

.slider-2
	position: absolute
	top: 25%
	left: 0
	width: 100%
	height: 90%
	overflow: hidden;
	display: none
	.slide-wrap
		width: 100%
		float: left
	.owl-dots
		display: none
		text-align: center
		width: 100%
		position: absolute
		bottom: 130px
		.owl-dot
			width: 14px
			height: 14px
			background-color: #777
			border: none
			border-radius: 50%
			margin: 0 3px
			cursor: pointer
			transition: background-color 0.25s ease
			&.active
				background-color: #ff766f
	.slide-2
		color: #fff
		position: relative
		display: flex
		justify-content: center
		align-items: center
		.slide-content
			position: relative
			z-index: 1
			margin-top: 15vh
			display: flex
			justify-content: center
			align-items: center

.slider-3
	position: absolute
	top: 5%
	left: 0
	width: 100%
	height: 90%
	overflow: hidden
	display: none
	.slide-wrap
		width: 100%
		float: left
		.slide-3
			color: #fff
			position: relative
			.slide-content
				position: relative
				z-index: 1
				display: flex
				flex-direction: row	
	.owl-dots
		display: none
		text-align: center
		width: 100%
		position: absolute
		bottom: 130px
		.owl-dot
			width: 14px
			height: 14px
			background-color: #777
			border: none
			border-radius: 50%
			margin: 0 3px
			cursor: pointer
			transition: background-color 0.25s ease
			&.active
				background-color: #ff766f

.slider-nav
	display: none
	position: absolute
	z-index: 2
	color: #fff
	font-size: 36px
	div
		cursor: pointer
		position: absolute
		top: -1.8vw
		left: -49vw
		&:last-child
			left: 45vw

.slider-nav-1
	display: none
	position: absolute
	z-index: 2
	color: #fff
	font-size: 36px
	div
		cursor: pointer
		position: absolute
		top: 25vh
		left: -48vw
		&:last-child
			left: 45vw

.slider-nav-2
	display: none
	position: absolute
	z-index: 2
	color: #fff
	font-size: 36px
	div
		cursor: pointer
		position: absolute
		top: 0
		left: -48vw
		&:last-child
			left: 45vw

.slider-nav-3
	display: none
	position: absolute
	z-index: 2
	color: #fff
	font-size: 36px
	div
		cursor: pointer
		position: absolute
		top: 0
		left: -48vw
		&:last-child
			left: 45vw



.lang
	a
		color: #333
		z-index: 100

.com-form-m
	background-color: #fff
	width: 300px
	height: 288px
	padding: 45px
	flex-direction: row
	box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25)
	border-radius: 4px
	display: none
	position: absolute
	top: calc(50% - 184px)
	left: calc(50% - 200px)
	h4
		color: #743535
		font-family: "Open Sans", sans-serif
		font-weight: 700
		font-size: em(18px)
		margin: 0 0 30px 0
		text-align: center
	input
		border: none
		border-bottom: 1px solid #D1D1D1
		color: #D1D1D1
		background-color: none
		width: 100%
		padding: 20px 0 0px 10px
		&:active, &:focus
			outline: none!important
			border-bottom: 1px solid #743535
			transition: border-bottom ease 1s
	button
		margin: 50px auto 0
		width: 270px
		height: 55px
		display: flex
		justify-content: center
		align-items: center
		background: linear-gradient(to bottom, #FE9A5D, #FF5D7B)
		box-shadow: 2px 2px 10px #FF7E6B
		border-radius: 40px
		border: none
		&:hover
			box-shadow: inset 0 0 10px #777
			text-shadow: 2px 2px 10px #555
			transition: box-shadow ease 5s
		&:active, &:focus
			outline: none!important

.con-form-m
	background-color: #fff
	width: 300px
	height: 288px
	padding: 45px
	flex-direction: row
	box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.25)
	border-radius: 4px
	display: none
	position: absolute
	top: calc(50% - 184px)
	left: calc(50% - 200px)
	h4
		color: #743535
		font-family: "Open Sans", sans-serif
		font-weight: 700
		font-size: em(18px)
		margin: 0 0 30px 0
		text-align: center
	input
		border: none
		border-bottom: 1px solid #D1D1D1
		color: #D1D1D1
		background-color: none
		width: 100%
		padding: 20px 0 0px 10px
		&:active, &:focus
			outline: none!important
			border-bottom: 1px solid #743535
			transition: border-bottom ease 1s
	button
		margin: 50px auto 0
		width: 270px
		height: 55px
		display: flex
		justify-content: center
		align-items: center
		background: linear-gradient(to bottom, #FE9A5D, #FF5D7B)
		box-shadow: 2px 2px 10px #FF7E6B
		border-radius: 40px
		border: none
		&:hover
			box-shadow: inset 0 0 10px #777
			text-shadow: 2px 2px 10px #555
			transition: box-shadow ease 5s
		&:active, &:focus
			outline: none!important


